.DS_Store
assets/plates/.DS_Store
assets/.DS_Store
assets/fonts/.DS_Store
assets/.DS_Store
.DS_Store
.DS_Store
assets/.DS_Store
assets/images/.DS_Store
assets/.DS_Store
.DS_Store
.DS_Store
assets/.DS_Store
